# Data Types
In Python data types define the type of data that can be stored and manipulated within a program. In this notebook I will look at some of the built-in data types.

###  01. Numeric Types
They are used to store numerical values.
Some of them are:
* _int_ - used to store integer values, whole numbers. eg x = 20
* _float_ - used to store floating point numbers, decimals. eg y = 3.142
* _complex_ - used to store complex numbers, real + imaginary numbers. eg, num = 3 + 4m

In [2]:
#integer
age = 25 

print('Integer:', age, type(age))   #prints the integer value, and the type

Integer: 25 <class 'int'>

In [3]:
#float
pi = 3.142

print('Float:', pi, type(pi))

Float: 3.142 <class 'float'>

In [12]:
#complex 
z = 1 + 2j

print('Complex:', z, type(z))

Complex: (1+2j) <class 'complex'>

### 02. Text Types - _Strings_
They are used to store sequences of string characters.
Strings in Python are surrounded by either single or quotation marks, or double quotation marks. 'hello' is the same as "hello"

In [13]:
name = 'Alice'

print('String:', name, type(name))

String: Alice <class 'str'>

In [14]:
print("It's alright")

It's alright

In [17]:
 # you can assign a string using multiline using three quotes. can be double quotes """....""" or single quotes '''...'''
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### 3. Sequence Types - _Arrays_
They are used to store ordered collections of items
They include:
* list - mutable, ordered collection. Eg; numbers = [1,2,3]
* tuple - Immutable, ordered collection. Eg; coordinates = (10,20)
* range - immutable sequence of numbers. Eg; r = ranges(5)

In [18]:
# List
fruits = ["apple", "banana", "cherry"]

print("List:", fruits, type(fruits))

List: ['apple', 'banana', 'cherry'] <class 'list'>

In [19]:
# Tuple
coordinates = (10, 20, 30)

print("Tuple:", coordinates, type(coordinates))

Tuple: (10, 20, 30) <class 'tuple'>

In [21]:
# Range
numbers = range(2)

print("Range:", numbers, type(numbers))

Range: range(0, 2) <class 'range'>

### 4. Mapping Types 
Also known as Dictionary. They are used to store key-value pairs.
* _dict_ - mutable collection of key-value pairs. Eg: person {"name": "John", "age": 25}

In [22]:
# Dictionary
person = {"name": "Alice", "age": 30, "city": "New York"}
print("Dictionary:", person, type(person))

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'} <class 'dict'>

### 5. Set Types
They are used to store unordered collections of unique items. 
They are in the form of :
* _set_ - mutable, unordered collection. Eg: mySet = {1,2,3}
* _frozenset_ - immutable, unordered collection. Eg: frozen_set = frozenset([1,2,3])

In [23]:
# Set
unique_numbers = {1, 2, 3, 4}
print("Set:", unique_numbers, type(unique_numbers))

Set: {1, 2, 3, 4} <class 'set'>

In [24]:
# Frozenset
frozen_set = frozenset([1, 2, 3, 4])
print("Frozenset:", frozen_set, type(frozen_set))

Frozenset: frozenset({1, 2, 3, 4}) <class 'frozenset'>

### 6. Boolean Type
It represents logical values. True or False.

In [25]:
# Boolean
is_valid = True
print("Boolean:", is_valid, type(is_valid))

Boolean: True <class 'bool'>

### 7.  Binary Types
It is used to binary data. They are as:
* _bytes_ - Immutable binary sequence
* _bytearray_ - mutable binary sequence
* _memoryview_ - view of a memory buffer

In [26]:
# Bytes
binary_data = b"hello"
print("Bytes:", binary_data, type(binary_data))

Bytes: b'hello' <class 'bytes'>

In [27]:
# Bytearray
byte_array = bytearray(5)
print("Bytearray:", byte_array, type(byte_array))

Bytearray: bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [28]:
# Memoryview
memory_view = memoryview(bytes(5))
print("Memoryview:", memory_view, type(memory_view))

Memoryview: <memory at 0x0000018DAED00D00> <class 'memoryview'>

### 8. None Type
This data type is used to represent the absence of a value. Just like _NULL_ IN SQL

In [29]:
# NoneType
nothing = None
print("NoneType:", nothing, type(nothing))

NoneType: None <class 'NoneType'>

### 9. Type Conversion
Finally, Let's delve into type conversion. Python allows us to be able to convert, or cast data types. You can do this using type-casting functions:
* int()
* float()
* str()
* list()
* tuple()

In [30]:
# Converting int to float
x = float(10)
print("Converted to float:", x, type(x))

Converted to float: 10.0 <class 'float'>

In [31]:
# Converting string to list
text = "hello"
text_list = list(text)
print("Converted to list:", text_list, type(text_list))

Converted to list: ['h', 'e', 'l', 'l', 'o'] <class 'list'>

In [32]:
# Converting list to tuple
numbers = [1, 2, 3]
numbers_tuple = tuple(numbers)
print("Converted to tuple:", numbers_tuple, type(numbers_tuple))

Converted to tuple: (1, 2, 3) <class 'tuple'>