## For Loops
**For Loops** are used to iterate over a sequence (like a list, tuple, dictionary, string, or, range) and excute a block of code for each item in the sequence. <br>
The Syntax is given as: <br>
**for** variable **in** sequence:
    # *indent* Code to execute for each item
***

### 1. Iterating over a List

In [1]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

### 3. Iterating over a String

In [2]:
word = "Python"

for char in word:
    print(char)

P
y
t
h
o
n

### 4. Using range()
The range() function generates a sequence of numbers:
* **range(stop)**: From *0* to *stop*
* **range(start, stop)**: From *start* to *stop*
* **range(start, stop, step)**: From *start* to *stop* in steps of *step*

In [4]:
# 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
# 2 to 6
for i in range(2, 7):
    print(i)

2
3
4
5
6

In [6]:
# 10 to 2 (step -2)
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

### 4. Iterating over a Dictionary

In [7]:
person = {"name": "Alice", "age": 25, "city": "New York"}

In [10]:
# Iterating over keys
for key in person:
    print(key)

name
age
city

In [11]:
# Iterating over keys and values
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25
city: New York

### 5. Nested for Loops
A for loop inside another loop for iterating over multiple dimensions

In [15]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element, end=" ")   # print each element in the row on the same line
    print()  # move to the next line after printing all elements in the current row

1 2 3
4 5 6
7 8 9

### 6. Using *else* with *for*
The else block is executed after the *for* loop finishes, unless the loop is exited with a *break*.

In [16]:
for i in range(5):
    print(i)
else:
    print("Loop completed!")

0
1
2
3
4
Loop completed!

In [17]:
# With a break
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed!")

0
1
2

### 7. Using *break* and *continue*
* **break**: Exits the loop immediately
* **continue**: Skips the current iteration and moves to the next

In [18]:
# Example with break
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [19]:
# Example with continue
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4